.app-container {
  padding: 20px;
  height: 100vh;
}
.active-image {
  width: 100%;
  border-radius: 20px;
}
.thumbnail-container {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.heading {
  font-family: 'roboto';
  font-size: 25px;
  color: #1e293b;
}
.description {
  font-family: 'roboto';
  color: #64748b;
  font-size: 15px;
}
